<h1>Admin::Dashboard#show</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Filter</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody>
		<tr>
	  	<td>
				<p><%= link_to 'Products',  [:admin, :products]%></p>
			</td>
			<td>
				<%= @product_count %>
			</td>
		</tr>
		<tr>
			<td>
			<p><%= link_to 'Category',  [:admin, :products]%></p>
			</td>
			<td>
			 <%= @category_count %>
			</td>
		</tr>
	</tbody>
</table>