<h1>ABOUT JUNGLE</h1>
<p>Jungle is an platform for you to browse through and look through the canopies to find your hidden treasure.</p>
<p>Delve into the wonderful jungle and find the best deal you have ever found anywhere else before</p>
<img src="https://www.wonderopolis.org/wp-content/uploads/2018/02/Jungledreamstime_l_56902828.jpg" alt="Jungle picture"/>
<h3>DISCLAIMER:</h3>
<p>This is not a real jungle and does not contain any poisonious animals or plants. That being said please do not mix us up with amazon as we are not the amazon jungle</p>